.button {
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  cursor: pointer;
  border: none;
  background-color: #4caf50;
  color: white;

  &:hover {
    background-color: #45a049;
  }
  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
