.themeSwitcher {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .themeSwitcherLabel {
    display: flex;
    align-items: center;
    font-weight: bold;
    user-select: none;
  }

  .themeSwitcherToggle {
    position: relative;
    width: 3rem;
    height: 1.5rem;
    margin: 0 1rem;
    background-color: #bbb;
    border-radius: 1rem;
    transition: background-color 0.3s ease;

    &::before {
      content: '';
      position: absolute;
      top: 0.1875rem;
      left: 0.1875rem;
      width: 1.125rem;
      height: 1.125rem;
      background-color: white;
      border-radius: 50%;
      transition: transform 0.3s ease;
    }
  }

  .themeSwitcherToggle.dark {
    background-color: #333;

    &::before {
      transform: translateX(1.5rem);
    }
  }
}
