@import './themes/lightTheme.css';
@import './themes/darkTheme.css';

.light {
  background-color: var(--background-color);
  color: var(--text-color);
}

.dark {
  background-color: var(--background-color);
  color: var(--text-color);
}
